/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/*font styles*/

h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size:40px;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size:30px;
}
h3{
    font-family: 'Bebas Neue', sans-serif;
    font-size:25px;
}
nav a{
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
}
menu li{
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
}
#socials li{
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
footer{
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
}
dd{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}  
li{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
nav{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
   
}
nav span{
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
}
input{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.timedetails dt{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.side-dishes dt{
     font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.side-dishes dd{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}



/*-------navigation menu-------*/
nav ul{
    background-color: black;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    list-style: none;
    
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    position: relative;
    user-select: none;
    background: white;
    position:absolute;
    top:0%;
    width:70px;
    box-shadow: 0px 3px  rgba(0,0,0,.15);
}
label span, label svg{
    display: block;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 500px;
}
nav input:checked ~ label span {
    background: transparent;
}
nav input:checked ~ label span:before {
    transform: rotate(-45deg);
}
nav input:checked ~ label span:after {
    transform: rotate(45deg);
}
nav input:checked ~ label:not(.steps) span:before, nav input:checked ~ label:not(.steps) span:after {
    top: 0;
}
nav a img{
    height:50px;
    width:50px;
}
nav a{
    text-decoration: none;
    color:#EB5428;
   
}
nav a img, nav a{
    display:inline;
}

/*---------------------*/
/*text*/
html{
    background-color: rgba(122,191,191,.5);
}
body{
    width: 414px;
    margin:0 auto;
    background:#f2f2f2 ;
}
nav{
    position:absolute;
    top:0%;
}
#logo{
position: absolute;
top:0%;
left:90px;
background:#EB5428;
width:215px;
padding: 10px;
}
#logo svg{
    width:70%;
}
#avatar{
position: absolute;
top:0%;
left:324px;
background:#ffffff;
width:70px;
padding:10px;
color: black;
box-shadow: 0px 3px  rgba(0,0,0,.15);
}
#avatar svg{
    stroke:#EB5428;
    width:100%
}
#avatar , #avatar svg{
    display:block
}
#logo, #avatar, nav{
    display:flex;
    display:inline
}
header{
    position: relative;
    top:190px;
    left:110px;
    line-height: .5em;
}
menu{
    display:flex;
    justify-content: space-around;
    padding-top:220px;
    padding-bottom: 10px;
}
menu li{
    display:inline-block;
}
menu a {
    text-decoration: none;
    color:#EB5428;
    
}
menu span, menu a{
    display:block;
    text-align: center;

}
.street-tacos img{
width: 414px;
}
.street-tacos p{
    padding:10px 10px;
}
.timedetails h2 {
    text-align: center;
    padding-top:10px;
}
.timedetails dl{
    display:block;
    padding:10px;
}
.timedetails dt{
    float:left;
    width:100px;
    clear:left;
}

.ingredients h2{ 
    text-align:center;
    
}
.ingredients ul{
    padding:20px;
}
.ingredients li{
    padding:5px;
}
.ingredients li:first-child{
    padding-top:0px;
}
.ingredients li:last-child{
    padding-bottom:0px;
}
.directions h2 {
    text-align: center;
}
.directions ol{
    padding:20px;
}
.directions li{
    padding:10px;
}
.directions li:first-child{
    padding-top:0px;
}
.directions li:last-child{
    padding-bottom:0px;
}

.side-dishes{
    background: #7abfbf;
}
.side-dishes h2{
    text-align: center;
    padding-top:10px;
}
.side-dishes img{
    width:100px;
    padding-top:12px;
}
.side-dishes section{
    padding:10px;
    display: grid;
    grid-template-columns: 110px auto;
    grid-template-rows: 40px 60px 30px;
    width:375px;
    
}
.side-dishes img{
    grid-column: 1/2;
    grid-row:1 /4;
}
.side-dishes h3{
  grid-column: 2 /3;
 grid-row:1 / 2;
}
.side-dishes dl{
    grid-column: 2 /3;
    grid-row: 2 / 3;
}

.side-dishes dd{
    line-height:2.5em;
    margin-left: 0;
    
}
.side-dishes .star{
    grid-column:2 / 3;
    grid-row:3 / 4;
}

nav h2{
    visibility: hidden;
}
#id span{
    visibility: hidden;
}
form svg{
    stroke: #ffffff;
    background:#EB5428;
    padding:3px;
}
form input{
    padding:8px;
    border-color: #EB5428;
    border-width:2px;
}
form{
    display: flex;
    position: relative;
    top:-2720px;
    left:55px
}

#socials h2{
    display: none;
}
#socials li{
    list-style-type:none;
    width:768px;
}
#socials a{
    text-decoration: none;
    padding-right:20px;
    padding-left: 20px;
    padding-bottom:15px;
    color: #eb5428;
}
#socials svg{
    width:100%;    
}
#socials a, #socials svg{
    display:block; 
    text-align: center; 
}
#socials ul{
    display:flex;
    margin:0 auto;   
}
footer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
footer img{
    width:120px;
    margin:0 auto;
    grid-row:1/2;
}
footer p{
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
    text-align: center;
    grid-row: 2 /3;
    padding:20px;  
}


@media screen and (min-width:768px){
    body{
        width:768px;
    }
    header{
        left:20px;
    }
    form{
        top:-2540px;
        left:450px;
    }
    .street-tacos img{
        width:768px;
    }
    .timedetails dl{
        width: 260px;
        margin: auto;
        text-align: center;
    }
    .ing-details{
        display:grid;
        grid-template-columns: 1fr 2fr;
    }
    .ing-details h2{
        padding-top:10px;
    }
  
    .side-dishes{
        display:grid;
        grid-template-rows:auto auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .side-dishes h2{
        grid-column: 1 / 3;
        grid-row:1 / 2;
    }
    #socials{
        width:400px;
        float:right;
    }
    
}

@media screen and (min-width:1280px){
    body{
        width:1280px;
    }
    header{
        text-align: center;
    }
    form{
        top:-2200px;
        left:900px;
    }
    .street-tacos img{
        float:left;
        width:600px;
        padding:20px;
    }
   
    .timedetails{
        clear:both;
        background:black;
        color:#7abfbf;
    }
    .side-dishes section{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4,auto);
    }
    .side-dishes img{
        grid-row:1 /2;
        grid-column: 1 / 2;
        width: 200px;
    }
    .side-dishes h3{
        grid-row:2/3;
        grid-column: 1 / 2;
    }

    .side-dishes dl{
        grid-row:3/4;
        grid-column: 1 / 2;
    }
    .side-dishes .star{
        grid-row:4/5;
        grid-column: 1 / 2;
    }
    .side-dishes{
        display: grid;
        grid-template-columns: repeat(4,320px);
        grid-template-rows: auto auto;
    }
    .side-dishes h2{
        grid-row:1 /2;
        grid-column: 1 / 5;
    }
        
}
