/*font styles*/

h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size:40px;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size:30px;
}
h3{
    font-family: 'Bebas Neue', sans-serif;
    font-size:25px;
}
nav a{
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
}
menu li{
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
}
#socials li{
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
footer{
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
}
dd{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}  
li{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
nav{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
   
}
nav span{
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
}
input{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.timedetails dt{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.side-dishes dt{
     font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.side-dishes dd{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}



/*-------navigation menu-------*/
nav ul{
    background-color: black;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    list-style: none;
    
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    position: relative;
    user-select: none;
    background: white;
    position:absolute;
    top:0%;
    width:70px;
    box-shadow: 0px 3px  rgba(0,0,0,.15);
}
label span, label svg{
    display: block;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 500px;
}
nav input:checked ~ label span {
    background: transparent;
}
nav input:checked ~ label span:before {
    transform: rotate(-45deg);
}
nav input:checked ~ label span:after {
    transform: rotate(45deg);
}
nav input:checked ~ label:not(.steps) span:before, nav input:checked ~ label:not(.steps) span:after {
    top: 0;
}
nav a img{
    height:50px;
    width:50px;
}
nav a{
    text-decoration: none;
    color:#EB5428;
   
}
nav a img, nav a{
    display:inline;
}

/*---------------------*/
/*text*/
html{
    background-color: rgba(122,191,191,.5);
}
body{
    width: 414px;
    margin:0 auto;
    background:#f2f2f2 ;
}
nav{
    position:absolute;
    top:0%;
}
#logo{
position: absolute;
top:0%;
left:54%;
background:#EB5428;
width:216px;
padding: 9px;
}
#logo svg{
    width:70%;
}
#avatar{
position: absolute;
top:0%;
left:195%;
background:#ffffff;
width:70px;
padding:10px;
color: black;
box-shadow: 0px 3px  rgba(0,0,0,.15);
}
#avatar svg{
    stroke:#EB5428;
    width:100%
}
#avatar , #avatar svg{
    display:block
}
#logo, #avatar, nav{
    display:flex;
    display:inline
}
header{
    position: relative;
    top:175px;
    left:110px;
    line-height: .5em;
}
menu{
    display:flex;
    justify-content: space-around;
    padding-top:170px
}
menu li{
    display:inline-block;
    padding-right:30px;
}
menu a {
    text-decoration: none;
    color:#EB5428;
    
}
menu span, menu a{
    display:block;
    text-align: center;

}
.street-tacos img{
width: 414px;
}
.street-tacos p{
    padding:0px 10px;
}
.timedetails h2 {
    text-align: center;
}
.timedetails dl{
    display:block;
    padding:10px;
}
.timedetails dt{
    float:left;
    width:100px;
    clear:left;
}

.ingredients h2{ 
    text-align:center;
    
}
.ingredients li{
    padding:10px;
}
.ingredients li:first-child{
    padding-top:0px;
}
.ingredients li:last-child{
    padding-bottom:0px;
}
.directions h2 {
    text-align: center;
}
.directions li{
    padding:10px;
}
.directions li:first-child{
    padding-top:0px;
}
.directions li:last-child{
    padding-bottom:0px;
}

.side-dishes{
    background: #7abfbf;
}
.side-dishes h2{
    text-align: center;
    padding-top:10px;
}
.side-dishes img{
    width:110px;
    padding-top:12px;
}
.side-dishes section{
    padding:10px;
    display: grid;
    grid-template-columns: 130px auto;
    grid-template-rows: 40px 60px 30px
    
}
.side-dishes img{
    grid-column: 1/2;
    grid-row:1 /4;
}
.side-dishes h3{
  grid-column: 2 /3;
 grid-row:1 / 2;
 line-height:0;
}
.side-dishes dl{
    grid-column: 2 /3;
    grid-row: 2 / 3;
}
.side-dishes dt{
    line-height:.5em
}
.side-dishes dd{
    line-height:2.5em;
    margin-left: 0;
    
}
.side-dishes .star{
    grid-column:2 / 3;
    grid-row:3 / 4;
}

nav h2{
    visibility: hidden;
}
form svg{
    stroke: #ffffff;
    background:#EB5428;
    padding:3px;
}
form input{
    padding:8px;
    border-color: #EB5428;
    border-width:2px;
}
form{
    display: flex;
    position: relative;
    top:-2930px;
    left:55px
}

#socials h2{
    display: none;
}
#socials li{
    list-style-type:none;
}
#socials a{
    text-decoration: none;
    padding:15px;
    color: #eb5428;
}
#socials svg{
    width:100%;    
}
#socials a, #socials svg{
    display:block;  
}
#socials ul{
    display:flex;
    margin:0 auto;   
}
footer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
footer img{
    width:120px;
    margin:0 auto;
    grid-row:1/2;
}
footer p{
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
    text-align: center;
    grid-row: 2 /3;  
}












































/*@media screen and (min-width:768px) {
    nav{
        width:640px;
        padding-bottom:15px;
        
    }
    
    nav ul {
        overflow: visible;
        position: absolute;
        top:0%;
     display: flex;
        
    
    }
    #avatar {
        position:absolute;
        top:0%;
        left:678px;
        
        
    }
    label span, input, label {
        display: none;
    }
    body{
        width:768px;
    }
    #logo{
        right:500px;
        width:60px;
        padding:0px;
        
    }